.white {
    color: #ffffff;
}

.blue {
    color: #003366;
}
.darkBlue{
    color: #00618b;
}
.grey {
    color: #666666;
}

.yellow {
    color: #ffc425;;
}

.red {
    color: #ed0000;
}

.green {
   color: #006C67;
}

.darkPink {
    color: #8F315E;
}
.orange {
    color:#fdb515;
}
.darkOrange{
    color:#f15723;
}

.purple {
    color: #4A54Ad;
}
.black {
    color: #333333;
}


.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.border {
    border: 1px solid #686868;
    border-radius: 25px;
}

.inline {
    display: inline-block;
}

.clearcss {
    clear: both;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.fixed {
    position: fixed;
}

.no-padding {
    padding: 0px !important;
}

.place-ontop {
    z-index: 999;
}

.width-inherit {
    width: inherit;
}

input {
    height: 100%;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
}
a:hover, a:focus {
    color : #ffc425 ! important;
    text-decoration: none ! important;
}

a:active, a:hover {
    outline: 0;
}
u {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}
.news-events {   
    display: inline-block;
    width: 30%;
    top: 20%;
    position: absolute;
    right: 1%;
}
