body {
    width: 1440px;
    min-width: 100%;
    max-width: 100%;
}
.header {
    background-color: #003366;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    z-index: 10;
    margin: 0px;
}
.menu {
    padding-top: 2vh;
}
.line-menu {
    height: 19px;
    width: 23px;
    vertical-align: middle;
}
.logo {
    margin: 0 auto;
}
.logo img {
    height: 60px;
}
.scroll {
    font-size: 10px;
    letter-spacing: 2px;
    bottom: 20px;
}
.scrollIcon {
    bottom: 40px;
}
.description {
    text-align: left;
    padding-top: 65vh;
    margin-top: -25vh;
    padding-right: 10%;
    padding-left: 10%;
}
@media screen and (min-width:980px) and (max-width:1200px) {
    .description h2 {
        font-size: 50px;
        line-height: 55px;
    }
}
@media screen and (max-width:769px) {
    .description {
        text-align: left;
        padding-top: 56vh;
        margin-top: -16vh;
        padding-right: 10%;
        padding-left: 10%;
    }
}
@media screen and (max-width:320px) {
    .description {
        font-size: 22px;
        line-height: 26px;
    }
}
#target-audience .heading {
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
    box-sizing: border-box;
    padding: 49px 3% 38px 3%;
}
#target-audience .accordion ul li div[class$="audience"] {
    height: 45vh;
    padding: 25vh 10% 25vh 5%;
}
.accordion ul li div h2 {
    text-align: left;
}
.accordion ul li div .leftText {
    padding-bottom: 2vh;
}
.accordion ul li div .rightText {
    width: 0%;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.accordion ul:hover li:hover div .rightText {
    width: 49%;
}
.accordion .cta-wrapper {
    width: 17vh;
    margin-top: 4.5vh;
    background-color: #ffffff;
    font-size: 18px;
}
.morningstar-box {
    height: 70vh;
    background: url(../images/about-morningstar.jpg);
    background-position: 0%;
    display: table;
    padding-left: 3%;
    padding-right: 3%;
}
.morningstar-box .box-text {
    display: table-cell;
    vertical-align: middle;
}
.morningstar-box .cta-wrapper {
    background-color: #ed0000;
    width: 17vh;
    border: 1px solid #ed0000;
    border-radius: 25px;
    margin: auto;
    margin-top: 45px;
}
footer {
    min-height: 20vh;
    padding: 3vh 2.4% 3vh 2.4%;
    box-sizing: border-box;
    position: relative;
    background-color: #fbfbfb;
}
footer .search-wrapper {
    width: 17vh;
    float: right;
}
footer .search-wrapper input {
    border: 1px solid #686868;
    border-radius: 25px;
    height: 4.5vh;
    line-height: 4.5vh;
    background-image: url('../images/search.png');
    background-position: 15px;
    background-repeat: no-repeat;
    padding-left: 35px;
}
.social-icons .icon-list li {
    display: inline-block;
}
.social-icons {
    float: left;
}
.facebook,
.twitter,
.linkedin,
.youtube {
    background: url(../images/social-sprite.jpg) no-repeat;
    height: 20px;
    width: 32.5px;
    display: block;
}
.facebook {
    background-position: 0%;
}
.twitter {
    background-position: 36%;
}
.linkedin {
    background-position: 72%;
}
.youtube {
    background-position: 100%;
}
.footer-links {
    float: right;
}
.footer-links .morningstar-smartlink {
    display: inline-block;
    padding-left: 36px;
}
footer .copyright {
    position: absolute;
    bottom: 3vh;
}
.iframe-modal-frameBox {
    height: 100%;
    width: 100%;
}
.iframe-modal-frameBox iframe {
    height: 100%;
    width: 100%;
}
.smart-column-text {
    float: right;
}
@media screen and (max-width:769px) {
    .smart-column-text {
        float: right;
        width: auto;
    }
}
.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/Homepage-bg.jpg");
    position: relative;
}
.video {
    display: inline-block;
    width: 67%;
    top: 20%;
    position: absolute;
    left: 1%;
}
.homepage-video {
    width: 100%;
    height: 530px;
}
.inthenews {
    margin: 10px 0;
    font-size: 10px;
    clear: none;
    float: left;
    width: 100%;
    background-color: #fffff9;
}
.calendar {
    margin: 10px 0;
    font-size: 10px;
    clear: none;
    float: left;
    width: 100%;
    background-color: #fffff9;
}
.gallery {
    margin: 10px 0;
}
button.accordion {
    background-color: #003366;
    color: #ffc245;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;
}
button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}
div.panel {
    padding: 0 18px;
    display: none;
    background: #003366;
}
div.panel.show {
    display: block !important;
    height: inherit;
}
.education-head {
    margin-top: 0px;
    padding: 90px 0px 10px 0;
    text-align: center;
}
.engineering {
  color: #ffc245;
}
.arts {
color: #ffc245;
}
.science {
    color: #ffc245;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.clear {
    display: block;
    clear: both;
}
html[xmlns] .clear {
    display: block;
}
* html .clear {
    height: 1%;
}
a {
    outline: none;
    text-decoration: none;
}
code {
    font-weight: normal;
    font-style: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
.imgholder,
.imgl,
.imgr {
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
}
.imgl {
    float: left;
    margin: 0 15px 15px 0;
    clear: left;
}
.imgr {
    float: right;
    margin: 0 0 15px 15px;
    clear: right;
}


div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #ffc245;
    color: #003366;
}
.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
.row3 {
    color: #989898;
    background-color: #333333;
}
.row3 a {
    color: #FF9900;
    background-color: #333333;
}
.row4,
.row4 a {
    color: #919191;
    background-color: #232323;
}

#header,
#container,
#footer,
#copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
address {
    font-style: normal;
}
blockquote,
q {
    display: block;
    padding: 8px 10px;
    color: #979797;
    background-color: #ECECEC;
    font-style: italic;
    line-height: normal;
}
blockquote:before,
q:before {
    content: '“ ';
    font-size: 26px;
}
blockquote:after,
q:after {
    content: ' „';
    font-size: 26px;
    line-height: 0;
}
form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}
legend {
    display: none;
}
input,
textarea,
select {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.one_quarter,
.two_quarter,
.three_quarter,
.four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}
.one_quarter {
    width: 225px;
}
.two_quarter {
    width: 470px;
}
.three_quarter {
    width: 715px;
}
.four_quarter {
    width: 960px;
    float: none;
    margin-right: 0;
    clear: both;
}
.one_third,
.two_third,
.three_third {
    display: block;
    float: left;
    margin: 0 30px 0 0;
}
.one_third {
    width: 300px;
}
.two_third {
    width: 630px;
}
.three_third {
    width: 960px;
    float: none;
    margin-right: 0;
    clear: both;
}
.lastbox {
    margin-right: 0;
}


#container {
    padding: 30px 0;
    background: #ffc245;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#container .last {
    margin: 0;
}
#container .more {
    text-align: right;
}



#container #slider {}


#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
#container #homepage #services {}
#container #homepage #services article {}
#container #homepage #services article figure {}
#container #homepage #services article figure img {
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #services article figure figcaption {}
#container #homepage #services article figure h2 {
    font-size: 14px;
    font-weight: bold;
}
#container #homepage #services article figure footer {}
#container #homepage #intro {}
#container #homepage #intro article {}
#container #homepage #intro article figure {}
#container #homepage #intro article figure img {
    float: right;
    margin: 18px 0 10px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #intro article figure figcaption {
    float: left;
    width: 460px;
}
#container #homepage #intro article figure h2 {}
#container #homepage #intro article figure footer {}
#gym-hero {
    width: 100%;
    padding-right: 10px;
}
.student-registration {
    padding: 90px 0 10px 0;
    text-align: center;
    margin-top: 0;
}
.Complete-form{
  margin: 10px auto;
  position: relative;
  width: 500px;
  height: 550px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid #999;
}

.Internal-form input{
    width: 50%;
}
.Internal-form input[type=text] {
    width: 50%;
    padding: 10px 15px;
    margin: 0 0 0 30px;;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 2px;
    background-color: #C0C0C0;
}

.Internal-form input[type=button]{ 
    background-color: #3CBC8D;
    color: white;
    width: 30%;
}


.male{
    position: absolute;
    right: 401px;
    top: 177px;
    font-family: sans-serif;
}
.female{
    position: absolute;
    right: 371px;
    top: 201px;
    font-family: sans-serif;
}

.Internal-form button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #C0C0C0;
  font-family: sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
}

.Internal-form input.button:hover {
  background: #fff;
  color: #09C;
}
